<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All test suite">
    <test verbose="2" preserve-order="true" name="C:\Users\iwill\IdeaProjects\spring-proj">
        <classes>
            <class name="tests.searchapartments.SearchApartTest"></class>
        </classes>
    </test>
</suite>